name: DocBook build
on:
 push:
 pull_request:
 workflow_dispatch:

env:
  BRANCH_NAME: ${{github.ref_name}}
  IS_TAG: ${{ github.ref_type == 'tag'}}

jobs:
  build-job:
    name: Build Job
    runs-on: ubuntu-24.04
    steps:
      - name: Build Docbook
        run: mvn clean install -U -D'maven.build.cache.enabled=false'
        with:
          branch_name: ${{env.BRANCH_NAME}}
          preform_setup: false