name: POC Test

run-name: POC Test

on:
    push:
    pull_request:
        types: [opened, reopened]


jobs:
    Testing:
        runs-on: self-hosted
        steps:
            - name: Example Step
              run: echo "Instance is up and running!"
            - name: Get code repository
              uses: actions/checkout@v4
            - name: List files
              run: |
                ls ${{github.workspace}}


# This is to test a push for c2 instance
